/**
 * Project: StockHive
 * File: styles.scss
 * Author: Shahzar Mazhar
 * Date: 2023-04-13
 * Modified: 2023-04-13
 * Description: This file contains the main styles for the project and imports all the other scss files
 * Version: 1.0.0
 */
/**
 * Project: StockHive
 * File: _variables.scss
 * Author: Shahzar Mazhar
 * Date: 2023-04-13
 * Modified: 2023-04-13
 * Description: This file contains the variables for the project and is imported in the main styles.scss file
 * Version: 1.0.0
 */
/**
 * Project: StockHive
 * File: _base.scss
 * Author: Shahzar Mazhar
 * Date: 2023-04-13
 * Modified: 2023-04-13
 * Description: This file contains the base styles for the project and is imported in the main styles.scss file
 * Version: 1.0.0
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
}

@media (min-width: 769px) {
  html {
    font-size: 1vw;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.5rem;
  color: white;
}

@media (max-width: 768px) {
  footer {
    color: #666;
  }
}

footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #EDBD13;
}

/**
 * Project: StockHive
 * File: _hexagon.scss
 * Author: Shahzar Mazhar
 * Date: 2023-04-13
 * Modified: 2023-04-13
 * Description: This file contains the hexagon styles for the project and is imported in the main styles.scss file
 * Version: 1.0.0
 */
.hexagon {
  --size: 17.19vw;
  --margin-y: calc(var(--size) * -0.175);
  --margin-x: calc(var(--size) * -0.05);
  width: var(--size);
  height: calc(var(--size) * 1.15);
  margin: var(--margin-y) var(--margin-x);
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0px 8px 3px rgba(0, 0, 0, 0.25));
  color: #FFF;
}

.hexagon:not(:has(> a)) {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon .item__title {
  font-weight: 500;
  font-size: calc(var(--size) / 8);
  margin: 0;
  max-width: 80%;
}

.hexagon .item__text {
  font-size: calc(var(--size) / 15);
  margin: 0;
  font-weight: 500;
}

.hexagon .item__img {
  height: calc(var(--size) / 5);
  width: calc(var(--size) / 5);
  border-radius: 50%;
  overflow: hidden;
  transition: filter var(--transition);
}

.hexagon .item__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.hexagon>a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon__content {
  position: absolute;
  width: 100%;
  height: 97%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hexagon svg {
  stroke: #000;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  transition-property: fill, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.hexagon--yellow {
  color: #000;
}

.hexagon--yellow svg {
  fill: #EDBD13;
}

.hexagon--white {
  color: #000;
}

.hexagon--white svg {
  fill: #FFFFFF;
}

.hexagon--gray svg {
  fill: #666666;
}

.hexagon--text-white {
  color: #FFF;
}

.hexagon--large {
  --size: 22.95vw;
}

.hexagon--medium {
  --size: 15vw;
}

.hexagon--small {
  --size: 7vw;
}

.hexagon--xsmall {
  --size: 4.5vw;
}

.hexagon--xxsmall {
  --size: 3.5vw;
}

.hexagon--hidden {
  visibility: hidden;
}

.hexagon--rotate>a {
  -webkit-clip-path: polygon(25% 12.5%, 75% 12.5%, 100% 50%, 75% 87.5%, 25% 87.5%, 0 50%);
  clip-path: polygon(25% 12.5%, 75% 12.5%, 100% 50%, 75% 87.5%, 25% 87.5%, 0 50%);
  overflow: hidden;
}

.hexagon--rotate svg {
  transform: rotateZ(30deg);
}

/**
 * Project: StockHive
 * File: _pages.scss
 * Author: Shahzar Mazhar
 * Date: 2023-04-13
 * Modified: 2023-04-13
 * Description: This file contains the page styles for the project and is imported in the main styles.scss file
 * Version: 1.0.0
 */
#login-page p,
#login-page h1,
#login-page h2,
#login-page h3,
#login-page h4,
#login-page h5,
#login-page h6,
#register-page p,
#register-page h1,
#register-page h2,
#register-page h3,
#register-page h4,
#register-page h5,
#register-page h6,
#profile-page p,
#profile-page h1,
#profile-page h2,
#profile-page h3,
#profile-page h4,
#profile-page h5,
#profile-page h6 {
  text-align: center;
}

#profile-page .page-header__container {
  justify-content: space-between;
}

#profile-page .page-header__title {
  margin-left: 8vw;
}

@media (min-width: 769px) {
  #profile-page .main__content {
    grid-template-columns: 1fr;
    box-shadow: none;
    border: none;
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: initial;
  }
}

@media (max-width: 768px) {
  #profile-page .main__content {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  #profile-page .main__container {
    padding: 0;
  }
}

#profile-page .main__profile,
#profile-page .main__wallet {
  border-radius: 15px;
  padding: 2em;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 769px) {

  #profile-page .main__profile,
  #profile-page .main__wallet {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(217, 217, 217, 0.5);
  }
}

@media (max-width: 768px) {
  #profile-page .main__header {
    margin-bottom: 3rem;
  }
}

#profile-page .main__header .logout-link {
  font-size: 0.9rem;
  font-weight: 300;
}

@media (min-width: 769px) {
  #profile-page .main__header .logout-link {
    display: none;
  }
}

@media (max-width: 768px) {
  #profile-page .main__profile {
    background-color: rgba(217, 217, 217, 0.2);
  }
}

@media (min-width: 769px) {
  #profile-page .main__wallet {
    max-width: 500px;
  }
}

#profile-page .main__wallet .underline span {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #EDBD13;
}

@media (max-width: 768px) {
  #profile-page .main__wallet h2 {
    display: none;
  }
}

#profile-page .main__action {
  flex: 1;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  #profile-page .main__action .btn {
    width: 100%;
    text-align: center;
    max-width: 400px;
  }
}

#profile-page .separator {
  width: 400px;
  max-width: 75%;
  margin: 20px 0;
  border-bottom: 2.5px solid #f5f5f5;
}

html#regiser {
  padding: 0;
}

html#profile {
  padding: 0;
}

html#login {
  padding: 0;
}

/**
 * Project: StockHive
 * File: _buttons.scss
 * Author: Shahzar Mazhar
 * Date: 2023-04-13
 * Modified: 2023-04-13
 * Description: This file contains the button styles for the project and is imported in the main styles.scss file
 * Version: 1.0.0
 */
.btn {
  font-size: 1.1rem;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 0.6em 2.5em;
  display: inline-block;
  cursor: pointer;
  background-color: #EDECED;
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  white-space: nowrap;
}

.btn:hover {
  background-color: #e1dfe1;
}

.btn--primary {
  background-color: #EDBD13;
  color: white;
  border: 1px solid #EDBD13;
}

.btn--primary:hover {
  background-color: #d6ab10;
}

.btn--primary-outline {
  background-color: transparent;
  color: #000;
  border: 1px solid #EDBD13;
}

.btn--primary-outline:hover {
  background-color: #EDBD13;
  color: white;
}

@media (min-width: 769px) {
  .btn--mobile {
    display: none;
  }
}

.btn--outline {
  background-color: transparent;
  color: #EDBD13;
}

.btn--outline:hover {
  border-color: #EDBD13;
  background-color: #EDBD13;
  color: white;
}

.btn--dark {
  background-color: #000;
  color: white;
}

.btn--dark:hover {
  background-color: #1a1a1a;
}

.sidebar {
  position: absolute;
  z-index: 10;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 968px) {
  .sidebar .hexagon {
    --size: 10vw;
  }
}

.sidebar--l1 {
  left: -5vw;
}

@media (max-width: 968px) {
  .sidebar--l1 {
    left: -10vw;
  }
}

.sidebar--l2 {
  left: -11.5vw;
}

.sidebar__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.2vw;
}

.page-header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 2rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.h2 {
  font-size: 2rem;
  font-weight: 700;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

.h5 {
  font-size: 1rem;
  font-weight: 700;
}

.h6 {
  font-size: 0.75rem;
  font-weight: 700;
}

.text--primary {
  color: #EDBD13;
}

.main__hamburger {
  border: 0;
  background: none;
}

@media (min-width: 769px) {
  .main__hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}

.main__header--mobile {
  position: relative;
  padding: 0 50px;
  margin-top: 50px;
}

.main__header--mobile img {
  width: 100%;
}

@media (min-width: 769px) {
  .main__header--mobile {
    display: none;
  }
}

.main__header--mobile p {
  width: 200px;
  margin: 0.5rem auto;
}

.main__back-link {
  width: 30px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.main__back-link img {
  width: 100%;
}

.main__logo {
  width: 50%;
  margin: 0 auto;
}

.main__container {
  padding-right: 5rem;
  padding-bottom: 6rem;
}

@media (max-width: 968px) {
  .main__container {
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  .main__title {
    display: none;
  }
}

@media (min-width: 769px) {
  .main__title--mobile {
    display: none;
  }
}

.main__title--mobile span {
  border-bottom: 1px solid #000;
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  max-width: 1440px;
  margin: 0;
  margin-left: auto;
  border-radius: 15px;
  gap: 3vw;
}

@media (min-width: 769px) {
  .main__content {
    width: 85%;
    padding: 2rem 2rem 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(217, 217, 217, 0.5);
  }
}

@media (max-width: 968px) {
  .main__content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .main__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 85vh;
  }
}

@media (min-width: 769px) {
  .main__content>div {
    flex: 1;
  }
}

.main__content h4,
.main__content p {
  margin: 0.2rem auto;
}

.main__illustration {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
  max-width: 500px;
}

.main__illustration img {
  width: 100%;
}

@media (max-width: 768px) {
  .main__illustration {
    display: none;
  }
}

.main__action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.main__balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: 80%;
  position: relative;
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .main__balance {
    flex-direction: column;
    gap: 0;
  }

  .main__balance .refresh-icon {
    display: none;
  }
}

.main__balance .value {
  margin: auto 0 0.8rem;
}

@media (max-width: 600px) {
  .main__balance .value {
    margin: 0;
    margin-bottom: -10px;
  }
}

.main__balance .wallet-footer {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 300;
  bottom: 0;
  left: 10px;
  color: #666666;
}

@media (max-width: 600px) {
  .main__balance .wallet-footer {
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.form__content {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 1vw;
}

.form__field-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 768px) {
  .form__field-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}

.form__field {
  --background-color: #f1f1f1;
  margin-left: 2.5rem;
  position: relative;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .form__field {
    margin-top: 25px;
    margin-left: 1rem;
  }
}

@media (min-width: 769px) {
  .form__field--border {
    position: relative;
    border: 1px solid #666666;
    border-left: 0;
    border-right: 0;
    background-color: var(--background-color);
  }

  .form__field--border::before,
  .form__field--border::after {
    content: "";
    position: absolute;
    height: 58%;
    width: 20px;
    background-color: var(--background-color);
    border-right: 1px solid #666666;
    right: 0;
    bottom: 0;
    transform: rotateZ(30deg);
    transform-origin: 100% 100%;
  }

  .form__field--border::after {
    top: 0;
    transform: rotateZ(-30deg);
    transform-origin: 100% 0;
  }
}

.form__field label {
  color: transparent;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.form__field label .hexagon {
  left: -50%;
  -webkit-clip-path: none;
  clip-path: none;
  width: -moz-max-content;
  width: max-content;
  height: 130%;
}

@media (min-width: 769px) {
  .form__field label .hexagon {
    height: 180%;
  }
}

.form__field label .hexagon svg {
  stroke: #FFF;
  stroke-width: 4px;
}

@media (max-width: 768px) {
  .form__field label .hexagon svg {
    stroke: #EDBD13;
  }
}

.form__field label img {
  height: 35%;
  width: 35%;
  -o-object-fit: contain;
  object-fit: contain;
}

.form__field input {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: inherit;
  outline: none;
  padding: 1em 0.5em 1em 3.3em;
  border: 1px solid #666666;
  background-color: transparent;
}

@media (min-width: 769px) {
  .form__field input {
    border: none;
  }
}

@media (max-width: 768px) {
  .form__field input {
    border-radius: 10px;
    padding: 0.6em 0.5em 0.6em 2em;
  }
}

.form__field input[type=email],
.form__field input[type=text],
.form__field input[type=password] {
  width: 100%;
}

.form__field input[type=checkbox] {
  display: none;
}

.form__field input[type=checkbox]~label {
  font-size: inherit;
  color: inherit;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -0.7rem;
  color: #666666;
  font-weight: 300;
  gap: 30px;
}

.form__field input[type=checkbox]~label .hexagon {
  height: 20px;
  width: 20px;
  min-width: 20px;
  left: 0;
  filter: none;
}

.form__field input[type=checkbox]~label .hexagon svg {
  fill: #f1f1f1;
  stroke: #000;
}

.form__field input[type=checkbox]:checked~label .hexagon svg {
  fill: #000;
}

.form__action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  color: #666666;
  font-weight: 300;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .form__action {
    width: 100%;
  }

  .form__action .btn {
    width: 100%;
  }
}

.link-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contacts {
  background-color: #000;
  padding: 2rem;
}

@media (max-width: 600px) {
  .contacts {
    display: none;
  }
}

.contacts__container {
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}

.contacts__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
  position: relative;
}

@media (max-width: 1020px) {
  .contacts__content {
    grid-template-columns: 1fr 2fr;
  }
}

.contacts__link {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 140px 0;
}

.contacts__form {
  padding-right: 3vw;
}

@media (max-width: 1020px) {
  .contacts__form {
    padding-top: 100px;
  }
}

.contacts__form-logo {
  position: absolute;
}

.link {
  position: absolute;
  z-index: 10;
}

.link__item .hexagon--hidden {
  margin-right: -1vw;
}

@media (max-width: 968px) {
  .link__item .hexagon--hidden {
    margin-right: -1.3vw;
  }
}

.link__item .hexagon:has(> a:hover) .link__title {
  color: #000;
}

.link__item .hexagon:has(> a:hover) .link__text {
  opacity: 1;
}

.link__item .hexagon:has(> a:hover) svg {
  fill: #FFF;
}

@media (max-width: 968px) {
  .link__item .hexagon {
    --size: 10vw;
  }
}

@media (max-width: 968px) {
  .link--l1 {
    left: -10vw;
  }
}

.link__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: -2.3vw;
  text-align: center;
}

@media (max-width: 968px) {
  .link__row {
    margin-bottom: -3.2vw;
  }
}

.link__title {
  margin: 0;
  color: #FFF;
  max-width: 85%;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.link__text {
  margin: 0;
  font-size: 0.8rem;
  color: #666666;
  font-weight: 300;
  position: absolute;
  bottom: 2em;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.contact-form {
  background-color: #FFF;
  border-radius: 15px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.contact-form__content {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.contact-form--col {
  flex: 3;
}

.contact-form--col:first-child {
  flex: 2;
}

.contact-form--col:first-child .contact-form__field {
  height: 100%;
}

.contact-form--col:first-child .contact-form__field textarea {
  height: 100%;
}

.contact-form__field {
  font-size: 0;
  margin-bottom: 15px;
}

.contact-form__field input[type=text],
.contact-form__field input[type=email],
.contact-form__field input[type=tel],
.contact-form__field textarea {
  background-color: #F5F4F4;
  border-radius: 10px;
  border: 1px solid #666666;
  padding: 0.7rem 1rem;
  width: 100%;
  font-family: inherit;
}

.contact-form__field textarea {
  resize: none;
}

.contact-form__action {
  text-align: center;
}

.contact-form__action .btn {
  width: 100%;
}

.contact-form__action a {
  font-size: 0.85rem;
}

.contact-form__separator {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.contact-form__separator-text {
  margin: 0 1rem;
  font-size: 0.8rem;
  color: #000;
  font-weight: 700;
}

.contact-form__separator-line {
  flex: 1;
  height: 1px;
  background-color: #666666;
}

@media (max-width: 768px) {
  .page-header {
    display: none;
  }
}

.agree {
  margin-top: 1rem;
}

.card {
  background-color: #000;
  color: #FFF;
  width: 400px;
  max-width: 75%;
  border-radius: 15px;
  padding: 2rem 1.2rem;
}

.card table {
  text-align: left;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card table th {
  width: 90px;
}

.card table td {
  color: #EDBD13;
}

.card__footer {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: right;
}

.card__footer--first {
  margin-bottom: 2rem;
  text-align: left;
}

.card__footer a {
  display: inline-flex;
  align-items: center;
}

.card__footer a img {
  width: 20px;
}

#convert {
  width: 100%;
  font-size: 0.9rem;
}

#convert .option {
  margin: 15px auto;
  width: 100%;
  max-width: 250px;
}

#convert .option input {
  display: none;
}

#convert .option input:not(:checked)+label * {
  filter: saturate(0);
  color: #EDBD13;
}

#convert .option label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#convert .option label .text {
  flex: 1;
  margin-left: 20px;
}

#convert .option label .hexagon {
  width: 10px;
  height: 15px;
  filter: none;
}

#convert .convert-action {
  margin-top: 20px;
}

#convert .convert-action .btn {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.id-info {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.id-info h3 {
  margin: 8px 0;
}

.id-info .id-code {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  gap: 10px;
}

.id-info .hint {
  font-size: 0.8rem;
  color: #666666;
  font-weight: 300;
  margin-top: 0.3rem;
}

#add-code {
  position: relative;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

#add-code input {
  text-align: center;
  font-size: 1.1rem;
  padding: 0.6em 0.5em;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #666666;
}

#add-code button {
  margin-top: 0.5rem;
  border: 0;
  background-color: transparent;
  font-weight: 600;
}

#add-code button::after {
  content: "+";
  border: 2px solid #888;
  color: #888;
  padding: 0rem 0.2rem;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
  font-weight: 600;
  font-size: 1rem;
}

.popup-notification {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  border: 1px solid #fff;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  animation: slideup 0.3s ease-in-out;
  z-index: 9999;
}

@keyframes slideup {
  0% {
    transform: translate(-50%, 100px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

/* forgot password page css */

.top-title h1 {
  font-size: 44px;
  font-weight: 900;
  font-family: 'Roboto';
  margin-top: 30px;
  margin-bottom: 30px;
}

.top-button button {
  color: #EDBD13;
  background-color: white;
  border-radius: 10px;
  padding: 9px 18px 9px 18px;
  border: 1px solid black;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subtitle h2 {
  color: #EDBD13;
  font-size: 30px;
  text-align: center;
}

.content p {
  font-size: 15px;
  width: 90%;
  margin: auto;
  max-width: 539px;
  text-align: center;
}


.email-button input[type="text"] {
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  border: 1px solid black;
  padding: 15px 36px 15px 36px;
}

.email-button {
  display: flex;
  justify-content: center;
}

.reset-link button {
  color: #EDBD13;
  font-size: 12px;
  text-align: center;
  background-color: white;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.below-image {
  display: flex;
  justify-content: center;
}

html#forgot-pass {
  padding: 0;
}

.reset-link {
  display: flex;
  justify-content: center;
}

section.forgotpass-mobile-1page {
  display: none;
}


/* contact us page css */

.contact-us-title h1 {
  font-size: 40px;
}

.contact-us-button button {
  color: #EDBD13;
  background-color: white;
  border-radius: 10px;
  padding: 9px 18px 9px 18px;
  border: 1px solid black;
}

.contact-us-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.namefield input[type="text"] {
  padding: 11px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  position: relative;
}

.form .form__field {
  width: 100%;
  border: 1px solid black;
  border-radius: 11px;
}

.form .hexagon__content {
  position: absolute;
  width: 77%;
  height: 97%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form .hexagon svg {
  stroke: #000;
  height: 100%;
  width: 77%;
  -o-object-fit: contain;
  object-fit: contain;
  transition-property: fill, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.form .form__field {
  margin-top: 20px;
}

.form textarea#message {
  resize: none;
  outline: none;
  width: 100%;
  border: 0;
  border-radius: 10px;
}

.below-container {
  display: flex;
  justify-content: space-evenly;
}

#message+label {
  align-items: flex-start;
}

#message+label .hexagon {
  height: 6.5rem;
  transform: translateY(24%);
}

.below-left {
  min-width: 30%;
}

.contact-us-title h1 {
  font-size: 4rem;
}

html#contact-us {
  padding: 0;
}

section.contact-us-responsive {
  display: none;
}

section.contact-us {
  display: block;
}

@media (max-width: 768px) {
  section.contact-us-responsive {
    display: block !important;
  }

  section.contact-us {
    display: none;
  }

  .contact-us-mobile2 {
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
    position: absolute;
    margin-top: 30px;
    bottom: 9;
    left: 3rem !important;
    bottom: 5px;
   } 

  .responsive-container-title h1 {
    font-size: 20px;
    text-align: center;
    width: 94%;
    margin: auto;
  }

  .responsive-container-title {
    padding: 50px 0px 0px 0px;
  }

  .form .form__field {
    width: 80% !important;
  }

  #message+label .hexagon {
    height: 3.8rem;
    transform: translateY(24%);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submit-button button {
    background-color: #EDBD13;
    color: white;
    border: 1px solid black;
    font-size: 20px;
    width: 85%;
    padding: 14px;
    margin-top: 20px;
    border-radius: 11px;
  }

  .submit-button {
    display: flex;
    justify-content: center;
  }

  .contact-us-image-container img {
    width: 10rem;
  }

  .complete {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rights-section1 h4 {
    font-weight: 300;
    margin: 0;
  }

  .allright p {
    margin: 0;
    font-weight: 300;
  }

  .allright {
    display: flex;
    justify-content: center;
  }

  .rights-section-logo img {
    width: 27px !important;
  }

  .contact-us-image-container {
    display: flex;
    position: relative;
    /* position: absolute; */
    flex-direction: column;
    bottom: 0;
    /* left: 10rem; */
    align-items: center;
  }

  .rights-section {
    position: absolute;
    bottom: 12px;
  }
}

.thanks-container-title h1 {
  font-size: 20px;
  text-align: center;
  width: 69%;
  font-weight: 500;
  margin: auto;
}

/* .responsive-container-title {
  padding: 50px 0px 0px 0px;
} */
/* .form .form__field {
  width: 80% !important;
} */
/* #message + label .hexagon {
  height: 3.8rem;
  transform: translateY(24%);
} */
/* .form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .submit-button button {
  background-color: #EDBD13;
  color: white;
  border: 1px solid black;
  font-size: 20px;
  width: 85%;
  padding: 14px;
  margin-top: 20px;
  border-radius: 11px;
} */

/* .submit-button {
  display: flex;
  justify-content: center;
} */
/* .contact-us-image-container img {
  width: 10rem;
} */
/* .complete {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .rights-section1 h4 {
  font-weight: 300;
  margin: 0;
} */
/* .allright p {
  margin: 0;
  font-weight: 300;
} */
/* .allright {
  display: flex;
  justify-content: center;
} */
/* .rights-section-logo img {
  width: 27px !important;
}
.contact-us-image-container {
  display: flex;
  position: relative;
  position: absolute;
  flex-direction: column;
  bottom: 0;
  left: 50%;
  align-items: center;
  transform: translate(-50%);
} */
/* .rights-section {
  position: absolute;
  bottom: 12px;
} */

.thanks-container-title {
  padding: 131px 0px 0px 0px;
}

.thanks-container-button1 button {
  background-color: #EDBD13;
  color: white;
  border: 1px solid black;
  font-weight: 500;
  width: 70%;
  padding: 14px;
  border-radius: 11px;
  margin-top: 30px;
}

.thanks-container-button1 {
  display: flex;
  justify-content: center;
}

.thanks-container-button2 {
  display: flex;
  justify-content: center;
}

.thanks-container-button2 button {
  background-color: black;
  color: white;
  border: 1px solid black;
  font-weight: 500;
  width: 70%;
  padding: 14px;
  border-radius: 11px;
  margin-top: 17px;
}

.contact-us-mobile2 {
  align-items: center;
  display: flex;
  /* position: relative; */
  flex-direction: column;
  position: absolute;
  margin-top: 30px;
  bottom: 9px;
  left: 41rem;
}

.contact-us-mobile2 img {
  width: 18rem;
}

html#contact-us2 {
  padding: 0;
}

/* landing page 1 css */
.header-top {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px;
}

.header-top-links ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}

.header-top-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  position: relative;
  display: inline-block;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.header-top-links li a::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: 1.5rem;
  height: 2px;
  background-color: #EDBD13;
  transition: width 0.3s ease-in-out;
}

.header-top-links li a:hover {
  color: #EDBD13;
}

.header-top-links li a:hover::after {
  width: calc(100% - 2rem);
}

.header-top-button1 button {
  display: flex;
  background-color: white;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 6px;
  border: transparent;
}

.header-top-button2 button {
  display: flex;
  align-items: center;
  background-color: #EDBD13;
  border-radius: 10px;
  padding: 6px 34px 6px 35px;
  border: transparent;
}

.header-top-button {
  display: flex;
  gap: 10px;
}

.landingsection1 {
  background-image: url(../img/section1-img.png);
  height: 92vh;
  background-repeat: no-repeat;
  background-color: black;
  background-size: contain;
  background-position: center;
}

.rights-section-logo img {
  width: 2rem;
}

.complete {
  display: flex;
  align-items: center;
}

.rights-section1 h4 {
  margin: 0;
  font-weight: 300;
}

.allright p {
  margin: 0;
  font-weight: 300;
}

.rights-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  /* left: 7rem; */
}

.right-images p {
  margin: 0;
}

.landingsection1-logo {
  display: flex;
  justify-content: center;
  padding-top: 72px;
}

.landingsection1-title {
  display: flex;
  justify-content: center;
}

.landingsection1-title h2 {
  color: white;
}

.landingsection1-links ul {
  color: #EDBD13;
  display: flex;
  gap: 10px;
  font-size: 15px;
  justify-content: center;
}

.landingsection1-links span {
  margin-left: 10px;
  color: white
}

.landingsection2 {
  height: 100vh;
  padding-top: 80px;
  background-size: contain;
  padding-right: 54px;
  background-color: #D9D9D980;
}

.landingsection2-container {
  background-image: url(../img/landingpagesetion2.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80vh;
  justify-content: space-between;
  padding: 0 50px;
}

.right-images {
  position: absolute;
  top: 44px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 2;
  align-items: center;
  left: 28px;
}

.right-images-2 {
  position: absolute;
  top: 54px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 2;
  align-items: center;
  left: 36px;
}

.right-images {
  position: absolute;
  top: 52px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 2;
  align-items: center;
  left: 41px;
}

.image1 {
  position: relative;
}

.landingsection2-left h5 {
  margin: 0;
  font-size: 13px;
  margin-bottom: 10px;
}

.right-images p {
  margin: 0;
  font-size: 16px;
}

.right-images img {
  width: 52px;
}

.right-images-2 p {
  margin: 0;
  font-size: 16px;
}

.right-images-2 img {
  width: 52px;
}

.right-images-3 p {
  margin: 0;
  font-size: 16px;
}

.right-images-3 img {
  width: 52px;
}

.landingsection2-left h2 {
  font-weight: 900;
  font-size: 34px;
  margin: 0;
  margin-bottom: 10px;
}

.landingsection2-left h3 {
  color: #EDBD13;
  margin: 0;
  font-size: 21px;
}

.landingsection2-left button {
  border: 0;
  color: #EDBD13;
}

.landingsection2-left {
  width: 32%;
  padding-top: 50px;
}

.image1>img {
  width: 222px;
  height: 222px;
  object-fit: contain;
}

.right-images-3 {
  position: absolute;
  top: 52px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 2;
  align-items: center;
  left: 31px;
}

.change-1 {
  position: absolute;
  right: 120px;
  top: -45px;
}

.change-2 {
  position: absolute;
  right: 20px;
  top: 129px;
}

.change-3 {
  position: absolute;
  right: 115px;
  top: 308px;
}

.change {
  position: relative;
  width: auto;
}

html#landing1 {
  padding: 0;
}

section.landingsection3 {
  height: 100vh;
  padding-top: 134px;
  background-size: contain;
  background-color: white;
}

.landingsection3-container {
  background-image: url(../img/section3ee.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80vh;
  justify-content: space-between;
  padding: 0 50px;
}

.left-images-3 img {
  width: 3rem;
}

.section3-image {
  position: relative;
}

.left-images-3 p {
  text-align: center;
  font-weight: 800;
  font-size: 19px;
}

.left-images-3 {
  position: absolute;
  top: 22px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-images-3 h5 {
  margin: 0;
  color: white;
  font-size: 11px;
  margin-bottom: 15px;
}

.landingsection3-right {
  width: 32%;
  padding-top: 50px;
}

.landingsection3-right h5 {
  margin: 0;
  font-size: 13px;
  margin-bottom: 10px;
}

.landingsection3-right h2 {
  font-weight: 900;
  font-size: 34px;
  margin: 0;
  margin-bottom: 10px;
}

.landingsection3-right h3 {
  color: #EDBD13;
  margin: 0;
  font-size: 21px;
}

.landingsection3-right button {
  border: 0;
  color: #EDBD13;
  background-color: white;
}

.section3-image.change3-1 {
  position: absolute;
  left: 100px;
  top: -93px;
}

.section3-image.change3-2 {
  position: absolute;
  bottom: 228px;
}

.landingsection3-left.change3 {
  position: relative;
  width: auto;
}

.section3-image.change3-1 {
  position: absolute;
  left: 100px;
  top: -93px;
}

section.landingsection4 {
  height: 90vh;
  padding-top: 80px;
  background-size: contain;
  background-color: #D9D9D980;
}

.landingsection4-container {
  background-image: url(../img/section4.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 80vh;
  justify-content: space-between;
  padding: 0 50px;
}

.landingsection4-left {
  width: 44%;
  padding-top: 50px;
}

.landingsection4-left h5 {
  margin: 0;
  font-size: 13px;
  margin-bottom: 10px;
}

.landingsection4-left h2 {
  font-weight: 900;
  font-size: 34px;
  margin: 0;
  margin-bottom: 10px;
}

.landingsection4-left h3 {
  color: #EDBD13;
  margin: 0;
  font-size: 21px;
}

.landingsection4-left button {
  border: 0;
  color: #EDBD13
}

.landingsection4-left p {
  width: 75%;
}

.right-img-3 {
  position: absolute;
  top: 41px;
  left: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section4-image {
  position: relative;
}

.right-img-3 img {
  width: 3rem;
}

.right-img-3 p {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}

.section4-image>img {
  width: 198px;
  height: 198px;
  object-fit: contain;
}

.change4 {
  position: relative;
  width: auto;
}

.change4-1 {
  position: absolute;
  top: -29px;
  right: 162px;
}

.change4-2 {
  position: absolute;
  top: 127px;
  right: 72px;
}

.change4-3 {
  position: absolute;
  top: 280px;
  right: 167px;
}

section.landingsection5 {
  height: 102vh;
  padding-top: 80px;
  background-size: contain;
  /* background-color: white; */
}

.landingsection5-container {
  background-image: url(../img/section5img.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 80vh;
  justify-content: space-between;
  padding: 0 50px;
}

.contact-form__content.forms {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.forms .contact-form__field input[type=text],
.contact-form__field input[type=email],
.contact-form__field input[type=tel],
.contact-form__field textarea {
  background-color: #F5F4F4;
  border-radius: 10px;
  border: 1px solid #666666;
  padding: 0.7rem 1rem;
  width: 100%;
  font-family: inherit;
  color: #000;
  outline: none;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.landingsection5-right button {
  /* width: 75%; */
  border: 0;
  color: #EDBD13;
  background-color: white;
}

.landingsection5-right p {
  width: 75%;
}

.landingsection5-right h3 {
  color: #EDBD13;
  margin: 0;
  font-size: 21px;
}

.landingsection5-right h2 {
  font-weight: 900;
  font-size: 34px;
  margin: 0;
  margin-bottom: 10px;
}

.landingsection5-right {
  width: 44%;
  padding-top: 50px;
}

.landingsection5-left-submit-button button {
  background-color: #EDBD13;
  font-size: 21px;
  color: white;
  font-weight: 600;
  padding: 23px 60px 23px 60px;
  border-radius: 14px;
  border: 1px solid #EDBD13;
}

.section1-responsive {
  display: none;
}

.section2-responsive {
  display: none;
}

.section3-responsive {
  display: none;
}

.section4-responsive {
  display: none;
}

.section5-responsive {
  display: none;
}

.section6-responsive {
  display: none;
}

@media (max-width: 768px) {
  .section1-responsive {
    display: block !important;
  }

  .section2-responsive {
    display: block !important;
  }

  .section3-responsive {
    display: block !important;
  }

  .section4-responsive {
    display: block !important;
  }

  .section5-responsive {
    display: block !important;
  }

  .section6-responsive {
    display: block !important;
    background-color: black;
    padding: 2rem;
  }

  section.contacts {
    display: none !important;
  }

  .header-top {
    display: none;
  }

  .landingsection1.container {
    display: none;
  }

  .sec1-responsive-container {
    padding: 26px 10px 20px 10px;
  }

  .sec1-responsive-sidelogo img {
    width: 1.2rem;
  }

  .sec1-responsive-logo {
    display: flex;
    justify-content: center;
  }

  .sec1-responsive-logo img {
    width: 11rem;
  }

  .sec1-responsive-title h4 {
    font-weight: 400;
    text-align: center;
  }

  .sec1-responsive-links ul {
    color: #EDBD13;
    display: flex;
    gap: 10px;
    font-size: 15px;
    justify-content: center;
  }

  .sec1-responsive-links a {
    text-decoration: none;
    color: inherit;
  }

  .sec1-responsive-links span {
    margin-left: 10px;
    color: black;
  }

  .sec1-responsive-bulbimg {
    display: flex;
    justify-content: center;
  }

  .sec1-responsive-bulbimg img {
    width: 4rem;
  }

  section.landingsection1 {
    background-image: none;
    height: auto;
    background-color: #D9D9D980;
  }

  section.landingsection2 {
    background-color: white;
    height: auto;
    padding: 0;
  }

  .landingsection2-container {
    display: none;
  }

  .sec2-responsive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .sec2-responsive-tilecon {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .sec2-responsive-tilecon h2 {
    font-weight: 900;
    margin-bottom: 4px;
    text-align: center;
  }

  .sec2-responsive-tilecon h4 {
    color: #EDBD13;
    text-align: center;
    font-size: 18px;
    margin-top: 4px;
    font-weight: 500;
  }

  .sec2-responsive-subtitle {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .sec2-responsive-subtitle h5 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }

  .sec2-responsive-subtitle p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
  }

  .sec2-responsive-subtitle img {
    width: 10rem;
  }

  section.landingsection3 {
    background-color: #D9D9D980;
    padding: 0;
    height: 143vh;
  }

  .landingsection3-container {
    display: none;
  }

  .sec3-responsive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .sec3-responsive-tilecon {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    width: 90%;
    display: flex;
    background-color: white;
    flex-direction: column;
  }

  .sec3-responsive-tilecon h2 {
    font-weight: 900;
    margin-bottom: 4px;
    text-align: center;
  }

  .sec3-responsive-tilecon h4 {
    color: #EDBD13;
    text-align: center;
    font-size: 18px;
    margin-top: 4px;
    font-weight: 500;
  }

  .sec3-responsive-subtitle h5 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }

  .sec3-responsive-subtitle p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
  }

  .sec3-responsive-subtitle {
    width: 90%;
  }

  .sec5-responsive-subtitle {
    width: 90%;
  }

  .res-change {
    position: relative;
    width: auto;
  }

  .res-change-1 {
    position: absolute;
    left: -179px;
  }

  /* /* .sec3-res-img {
  position: relative; */
  /* } */
  .sec3-res-img img {
    /* position: relative; */
    width: 15rem;
  }

  .sec3-res-img-data {
    top: 46px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 36px;
    /* margin: 0px; */
  }

  .sec3-res-img-data p {
    text-align: center;
    font-size: 28px;
    margin: 0;
    font-weight: 900;
  }

  .sec3-res-img-data h5 {
    margin: 12px 0px;
    color: white;
    font-size: 16px;
    font-weight: 400;
  }

  .sec3-res-img-data img {
    width: 4rem;
  }

  .res-change-2 {
    position: absolute;
    top: 212px;
    left: -53px;
  }

  /* .sec3-res-img {
  position: relative;
} */

  .sec3-responsive-bottom-button button {
    background-color: #EDBD13;
    font-size: 22px;
    color: white;
    font-weight: 900;
    padding: 23px 15px 23px 15px;
    border-radius: 14px;
    border: 1px solid #EDBD13;
    margin-top: 33rem;
    bottom: 0;
  }

  .landingsection4-container {
    display: none;
  }

  section.landingsection4 {
    background-color: white;
    height: 107vh;
    padding: 0;
  }

  .sec4-res-img {
    position: relative;
  }

  .sec4-res-img-data {
    position: absolute;
    top: 0;
  }

  .sec4-res-img-data p {
    font-weight: 600;
    text-align: center;
  }

  .sec4-res-img-data img {
    width: 4rem !important;
  }

  .container-2 {
    display: flex;
  }

  .sec4-res-img-data {
    position: absolute;
    top: 43px;
    left: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec4-res-img-data span {
    margin-left: 16px;
  }

  .res-change {
    position: relative;
  }

  .res-changes2-1 {
    left: 94px;
    position: absolute;
    top: 165px;
  }

  .landingsection5-container {
    display: none;
  }

  .sec5-responsive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec5-responsive-tilecon h2 {
    text-align: center;
    font-weight: 900;
  }

  .sec5-responsive-tilecon h4 {
    text-align: center;
    color: #EDBD13;
    font-size: 18px;
    font-weight: 500;
  }

  .sec5-responsive-subtitle p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }

  .sec4-res-img img {
    width: 100%;
  }

  .forms1c {
    padding-top: 10px !important;
  }

  .forms2c {
    margin-bottom: 2rem;
  }

  .sec5-responsive-submit-button button {
    background-color: #EDBD13;
    font-size: 21px;
    color: white;
    font-weight: 600;
    padding: 23px 60px 23px 60px;
    border-radius: 14px;
    border: 1px solid #EDBD13;
  }

  .sec5-responsive-submit-button {
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
  }

  section.landingsection5 {
    height: auto;
    background-size: contain;
    background-color: #D9D9D980;
    padding-top: 0;
  }

  .contacts__container {
    display: none;
  }

  .section6-responsive-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
  }

  .section6-responsive-links a {
    text-decoration: none;
    color: white;
    font-size: 21px;
  }

  .section6-responsive-images {
    display: flex;
    padding-top: 50px;
    justify-content: center;
  }

  .section6-responsive-images img {
    max-width: 100%;
  }

  .trademark-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .trademark-title h5 {
    color: white;
    margin: 0;
  }

  .mobiles-copyright {
    display: flex;
    justify-content: center;
  }

  .mobiles-copyright h5 {
    color: white;
    margin: 0;
  }
}


/* page 1 css */

html#page1 {
  padding: 0;
}

.page1-1 {
  position: relative;
  padding: 0;
  max-width: 500px;
}

.page1-1 p {
  text-align: center;
}

.page1-1 p {
  text-align: center;
  padding-top: 17px;
  width: auto;
}

.page1-1 p span {
  color: #EDBD13;
}

.page1-2 {
  border: 1px solid black;
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  padding: 10px;
  background-color: #e7e7e7c9;
}

.page1-2 h5 {
  font-size: 14px;
}

.page1-2 img {
  width: 1.5rem;
}

.page1-1-button button {
  background-color: #EDBD13;
  border: 1px solid black;
  padding: 12px 90px 12px 90px;
  font-size: 18px;
  color: white;
  margin-top: 17px;
  border-radius: 13px;
  width: 100%;
}

footer.page1-3 {
  position: relative;
  margin-top: 10px;
  /* display: flex; */
  /* align-items: center; */
}

.page1-3 span {
  color: black;
}




/* page2 css */
.pag2-container-1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
  margin-bottom: 10px;
}

.pag2-container-1-1 img {
  width: 3rem;
}

.pag2-container-1-1 p {
  text-align: center;
  padding-top: 5px;
}

.pag2-container-1-1-image img {
  width: 1rem;
}

.pag2-container-1 {
  display: flex;
  justify-content: space-evenly;
}

#landing1 p {
  font-size: 16px;
}

.page2-container {
  height: 60vh;
  overflow: auto;
}

.main__logo p {
  margin-bottom: 30px;
}

.main__back-link img {
  display: none;
}

@media (max-width: 768px) {
  .main__back-link img {
    display: block !important;
  }
}

.thankyou-1 {
  background-color: white;
  padding: 18px;
  max-width: 350px;
  border-radius: 12px;
  border: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.thankyou-1 h2 {
  text-align: center;
  font-size: 32px;
}
.thankyou-1 h3 {
  text-align: center;
  color: #EDBD13;
  font-size: 24px;
  font-weight: 500;
}
.thankyou-1 p {
  text-align: center;
}
.thankyou-1 span {
  color: #EDBD13;
}
.thank-you-submitbutton button {
  padding: 10px;
  width: 100%;
  margin-top: 14px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  background-color: #EDBD13;
  border-radius: 10px;
  border: transparent;
}
div#thank-you {
  width: max-content;
  display: none;
}
.form textarea#message {
  resize: none;
  outline: none;
  width: 100%;
  border: 0;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: inherit;
  padding: 1em 0.5em 1em 3.3em;
  background-color: transparent;
  height: 25vh;
}
.submit-button-1 button {
  background-color: #EDBD13;
  color: white;
  border: 1px solid black;
  font-size: 20px;
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border-radius: 11px;
  margin-left: 2.5rem;
}

.sec1-responsive-hidden-menu-wrapper{
  height: 100vh;
  width: 100%;
  z-index: 99;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  top: 0;
  left: 0;
}

.sec1-responsive-hidden-menu {
  height: 100%;
  background-color: #EDBD13;
  padding: 10px;
  width: 75%;
  border-radius: 0px 50px 50px 0px;
}
.sec1-responsive-hidden-menu h5 {
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-bottom: 0;
}
.sec1-responsive-hidden-menu h4 {
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
}
.sec1-responsive-hidden-submenu ul {
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 28px;
}



.landingsection2-right .sidebar__row {
  gap: 5vw
}

.landingsection2-right .sidebar__row-spaced {
  margin: 3vw auto;
}

.investing-options h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  padding: 0 1rem;
}

.investing-options .hexagon--medium {
  --size: 12vw;
}

.investing-options .hexagon {
  transition: filter 0.5s ease;
}

.investing-options .hexagon:has(a:hover) {
  filter: drop-shadow(0px 8px 3px rgba(237, 189, 19, 0.25));
}

.investing-options .hexagon>a {
  transition: color 0.5s ease;
}

.investing-options .hexagon>a img {
  transition: filter 0.5s ease;
  max-width: 30%;
}

.investing-options .hexagon>a:hover {
  color: white;
}

.investing-options .hexagon>a:hover svg {
  fill: black;
  transform: rotateZ(-90deg);
}

.investing-options .hexagon>a:hover img {
  filter: invert(1) saturate(0);
}

.landingsection3-left-container {
  text-align: center;
  margin-top: -6vw;
  margin-left: -7vw;
}

.landingsection3-left-container .sidebar__row {
  gap: 5vw;
}

.landingsection3-left-container .sidebar__row-spaced {
  margin-bottom: 3vw;
}

.landingsection3-left-container h3 {
  font-size: 1.9rem;
  margin: 0.8rem auto 0;
  max-width: 85%;
}

.landingsection3-left-container p {
  margin: 0.5rem;
  color: white;
}

.landingsection3-left-container .hexagon img {
  max-width: 15%;
}

.landingsection3-left-container .hexagon .action {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.landingsection3-left-container .hexagon>a:hover .action {
  opacity: 1;
}

.landingsection3-left-container .hexagon>a:hover .content {
  opacity: 0;
}

.landingsection3-left-container .hexagon>a:hover svg {
  fill: black;
  transform: rotateZ(-90deg);
}

.level-up h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  padding: 0 1rem;
}

.level-up .sidebar__row {
  gap: 4vw;
}

.level-up .sidebar__row-spaced {
  margin: 2vw auto;
}

.level-up .hexagon {
  --size: 13vw;
  transition: filter 0.5s ease;
}

.level-up .hexagon:has(a:hover) {
  /* filter: drop-shadow(0px 8px 3px rgba(237, 189, 19, 0.25)); */
}

.level-up .hexagon>a {
  transition: color 0.5s ease;
}

.level-up .hexagon>a img {
  transition: transform 0.5s ease;
  max-width: 20%;
  margin-top: 1rem;
}

.level-up .hexagon>a:hover {
  color: white;
}

.level-up .hexagon>a:hover svg {
  fill: black;
  transform: rotateZ(-90deg);
}

.level-up .hexagon>a:hover img {
  transform: translateY(50%);
}


.page2-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* landing page 2 css */

html#landpg2 {
  padding: 0;
}

.header-top-button0 button {
  background-color: #EDBD13;
  border-radius: 10px;
  padding: 13px 34px 13px 35px;
  border: transparent;
}

.landpg2-sec1-container {
  background-image: url(../img/landpg2-sec1.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 3rem;
}


.landpg2-sec1-content-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.landpg2-sec1-content {
  max-width: 38%;
  padding-top: 3rem;
}

  .landpg2-sec1-content h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 10px 0px;
  }
  .landpg2-sec1-content h3 {
    color: #EDBD13;
    font-size: 25px;
    margin: 10px 0px;
    font-weight: 900;
  }
  .landpg2-sec1-content p {
    font-weight: 400;
    width: 81%;
    margin: 10px 0px;
    line-height: 1.5;
    /* font-size: 16px; */
  }
  .landpg2-sec1-content button {
    color: #EDBD13;
    background-color: transparent;
    border: transparent;
    margin: 10px 0px;
  }
.landpg2-sec2-container{
  background-image: url(../img/landpg2-sec2.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
}
  .landpg2-sec2-content-wrapper {
    display: flex;
    justify-content: center;
  }
  .landpg2-sec2-content {
    max-width: 100%;
    padding-top: 4rem;
    padding-left: 39rem;
  } 
  .landpg2-sec2-content p {
    font-weight: 400;
    width: 52%;
    /* font-size: 15px; */
    line-height: 1.5;
    margin: 10px 0px;
  }
  .landpg2-sec2-content h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 10px 0px;
  }
  .landpg2-sec2-content h3 {
    color: #EDBD13;
    font-size: 25px;
    margin: 10px 0px;
    font-weight: 900;
  }
  .landpg2-sec3-container{
    background-image: url(../img/landpg2-sec3.png);
    height: 111vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
  }
  .landpg2-sec3-content p {
    font-weight: 400;
    width: 76%;
    line-height: 1.5;
    margin: 10px 0px;
}
.landpg2-sec3-content h2 {
  font-size: 40px;
  font-weight: 900;
  margin: 10px 0px;
}
.landpg2-sec3-content h3 {
  color: #EDBD13;
  font-size: 25px;
  margin: 10px 0px;
  font-weight: 900;
}
.landpg2-sec3-content button {
  color: #EDBD13;
  background-color: transparent;
  border: transparent;
  margin: 10px 0px;
}
.landpg2-sec3-content {
  max-width: 52%;
  padding-top: 4rem;
}
.tiles img {
  width: 3rem;
}
.tiles {
  display: flex;
  border: 1px solid #EDBD13;
  border-radius: 10px;
  padding-right: 10px;
}
.landpg2-sec3-tiles-1 {
  display: flex;
  gap: 11px;
}
.landpg2-sec3-tiles-2 {
  display: flex;
  gap: 10px;
}
.landpg2-sec3-tiles-3 {
  display: flex;
  gap: 10px;
}
.landpg2-sec3-tiles {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-top: 4rem;
}
.landpg2-sec4-container{
  background-image: url(../img/landpg2-sec4.png);
    height: 111vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 3rem; */
}
.header-top-button2 a {
  display: flex;
  align-items: center;
}