/**
 * Project: StockHive
 * File: _variables.scss
 * Author: Shahzar Mazhar
 * Date: 2023-04-13
 * Modified: 2023-04-13
 * Description: This file contains the variables for the project and is imported in the main styles.scss file
 * Version: 1.0.0
 */

$primary-color: #EDBD13;
$secondary-color: #000;
$tertiary-color: #EDECED;

$container-width: 1440px;